@font-face {
  font-family: 'MedievalSharp-Regular';
  src: url('fonts/MedievalSharp-Regular.ttf');
}
image {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.out {
  position: absolute;
  margin-top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.in {
  position: relative;
  font-family: 'MedievalSharp-Regular';
  font-size: 32px;
  margin-left: 30px;
  vertical-align: middle;
  display: inline-block;
  text-align: right;
}

button {
  font-family: 'MedievalSharp-Regular';
  font-size: 48px;
  padding: 16px;
}

select {
  font-family: 'MedievalSharp-Regular';
  max-width: 270px;
  min-width: 270px;
  width: 270px !important;
  font-size: 22px;
}

br {
  line-height:16px;
}
