@font-face {
  font-family: 'MedievalSharp-Regular';
  src: url('fonts/MedievalSharp-Regular.ttf');
}

.flex-container-vertical{
display:-webkit-flex;
display:flex;
-webkit-flex-direction:column;
flex-direction:column;
-webkit-justify-content:center;
justify-content:center;
-webkit-align-items:center;
align-items:center;
-webkit-align-content:center;
align-content:center;
}

.flex-item-vertical {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    margin: 40px;
    }

.flex-container-horizontal{
display:-webkit-flex;
display:flex;
-webkit-justify-content: center;
justify-content:center;
-webkit-align-items:center;
align-items:center;
-webkit-align-content:center;
align-content:center;
}

.flex-item-horizontal {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;

 	margin-right: 25px;
	margin-left: 25px;
    }


.flex-container-selectors{
display:-webkit-flex;
display:flex;
-webkit-flex-direction:column;
flex-direction:column;
-webkit-justify-content:center;
justify-content:center;
-webkit-align-items:center;
align-items:center;
-webkit-align-content:center;
align-content:center;
}

.flex-item-selectors {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    margin: 2px;
    }

.stara-wersja {
  font-size: 12px;
  font-family: 'MedievalSharp-Regular';
  font-weight: bold;
  position: absolute;
  bottom: 8px;
  right: 16px;
}

label {
  font-family: 'MedievalSharp-Regular';
  font-size: 32px;
  margin-left: 30px;
  vertical-align: middle;
  text-align: right;
}

button {
  font-family: 'MedievalSharp-Regular';
  font-size: 64px;
  padding: 16px;
}

select {
  font-family: 'MedievalSharp-Regular';
  max-width: 270px;
  min-width: 270px;
  width: 270px !important;
  font-size: 22px;
}

br {
  line-height:16px;
}